<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">Self Organizing Maps
        <small>Environment constants</small>
    </h1>
    <form name="basic">
        <fieldset>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="iterations"><b>Iterations:</b></label>
                        <input class="form-control" id="iterations" ng-model="iterations" type="number"/>
                        <small id="iterationsHelp" class="form-text text-muted">
                            Enter algorithm iterations.</small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nodes"><b>Nodes:</b></label>
                        <input class="form-control" id="nodes" ng-model="nodes" type="number"
                               placeholder="On Monolith defaults to 1" disabled/>
                        <small id="nodesHelp" class="form-text text-muted">
                            On Monolith defaults to 1.</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#" ng-click="processImage('50.jpg')"><img class="card-img-top" src="assets/50.jpg" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#" ng-click="processImage('50.jpg')">Image 50px</a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#" ng-click="processImage('75.jpg')"><img class="card-img-top" src="assets/75.jpg" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#" ng-click="processImage('75.jpg')">Image 75px</a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#" ng-click="processImage('100.jpg')"><img class="card-img-top" src="assets/100.jpg" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#" ng-click="processImage('100.jpg')">Image 100px</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </fieldset>
    </form>
</div>
<!-- /.container -->
